*.la
*.lo
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
alsaplayer.1
alsaplayer.pc
alsaplayer.spec
app/alsaplayer
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
docs/reference.doxygen
docs/reference.doxygen.log
docs/reference/
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
po/POTFILES
stamp-h1
