[Desktop Entry]
Version=1.0
Name=Alsaplayer
Type=Application
Comment=Versatile audio player for the Audio Linux Sound Architecture
Comment[fr]=lecteur audio versatile for the Audio Linux Sound Architecture
Exec=alsaplayer %U
TryExec=alsaplayer
Icon=alsaplayer
MimeType=audio/x-scpls;audio/x-mpegurl;audio/mpegurl;audio/mp3;audio/x-mp3;audio/mpeg;audio/x-mpeg;audio/x-wav;audio/ogg+vorbis;audio/ogg;audio/flac;
Categories=AudioVideo;Audio;Player;
StartupNotify=true
