[Desktop Entry]
Encoding=UTF-8
Version=0.9.2
Name=Alsaplayer
Type=Application
Comment=Versatile audio player for the Audio Linux Sound Architecture
Exec=alsaplayer
TryExec=alsaplayer
Path=
Icon=AudioVideo;Audio;Player
Categories=Application;AudioVideo;Audio;
